<mat-toolbar>
    <button mat-icon-button>
      <a routerLink="library"><mat-icon>home</mat-icon></a>
    </button>
    <span>Library</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
        <a routerLink="/add-book"><mat-icon>add</mat-icon></a>
    </button>
    <button mat-icon-button>
      <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>